@model IEnumerable<TrashCollector.Models.Client>
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>

@Html.ActionLink("See All Clients", "SeeAllClients", "Clients", null, new { @class = "btn btn-primary" })
<p>
    @Html.ActionLink("Add Client", "ChangeInfo", "Clients", null, new { @class = "btn btn-primary" })
</p>


