@model TrashCollector.ViewModels.SeeDatesViewModel
    @{


        ViewBag.Title = Model.Client.Name;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>Your Pickups</h2>

    <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Pick Up Day</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var el in Model.Dates)
                {
                <tr>


                    <td>@Model.Client.Name</td>
                    <td>@el</td>
                      

                    <td>
                    <form action="ClientsController/DeleteDate" method="GET">
                        <input type="hidden" name= "Property" value="hello, world"/>
                        <button typeof=" = "submit">Delete</button>
                    </form>
                    
                    @*@Html.ActionLink("Delete", "DeleteDate", "Clients", new { viewModel = this.Model, element = el  })*@</td>
                </tr>
                }
            </tbody>
        </table>


    